<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="30 seconds">
    <contextName>Application</contextName>
    <!--<statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" /> <timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss"
        timeReference="contextBirth"/> -->
    <timestamp key="byDay" datePattern="yyyy-MM-dd" timeReference="contextBirth"/>

    <property name="LOG_HOME" value="${app.home}/log"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} ${HOSTNAME} %-4level [%thread] - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="JFRAME" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- <file>${LOG_HOME}/log-${byDay}.log</file> -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/jf-%d{yyyyMMdd}.log</fileNamePattern>
            <maxHistory>3</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} ${HOSTNAME} %-4level [%thread] - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="jframe" additivity="false">
        <appender-ref ref="JFRAME"/>
    </logger>

    <appender name="TBCLOUD_COMMON_DAO" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- <file>${LOG_HOME}/log-${byDay}.log</file> -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/common-dao-%d{yyyyMMdd}.log</fileNamePattern>
            <maxHistory>3</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} ${HOSTNAME} %-4level [%thread] - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="tbcloud.common.dao" additivity="false">
        <appender-ref ref="TBCLOUD_COMMON_DAO"/>
    </logger>

    <appender name="TBCLOUD_NODE_DAO" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- <file>${LOG_HOME}/log-${byDay}.log</file> -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/node-dao-%d{yyyyMMdd}.log</fileNamePattern>
            <maxHistory>3</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} ${HOSTNAME} %-4level [%thread] - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="tbcloud.node.dao" additivity="false">
        <appender-ref ref="TBCLOUD_NODE_DAO"/>
    </logger>

    <appender name="TBCLOUD_NODE_API" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- <file>${LOG_HOME}/log-${byDay}.log</file> -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/node-api-%d{yyyyMMdd}.log</fileNamePattern>
            <maxHistory>3</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} ${HOSTNAME} %-4level [%thread] - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="tbcloud.node.api" additivity="false">
        <appender-ref ref="TBCLOUD_NODE_API"/>
    </logger>


    <appender name="ROOT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/root-%d{yyyyMMdd}.log</fileNamePattern>
            <maxHistory>3</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} ${HOSTNAME} %-4level [%thread] - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="ROOT"/>
        <!-- <appender-ref ref="STDOUT" /> -->
    </root>
</configuration>
