# mysql
mysql.tbcloud.url=jdbc:mysql://localhost:3306/tbcloud?useUnicode=true&amp;characterEncoding=UTF-8
mysql.tbcloud.username=root
mysql.tbcloud.password=
# http
api.http.port=8018
api.http.root=/
# jvm
vm.size=256M
jobTimer.vm.size=256M
nodeApi.vm.size=256M
nodeHttpproxy.vm.size=256M
openHttpproxy.vm.size=256M
userApi.vm.size=256M
# redis user
redis.user.ip=127.0.0.1
redis.user.passwd=
redis.user.database=0
# redis node
redis.node.ip=127.0.0.1
redis.node.passwd=
redis.node.database=0
# redis conn
redis.conn.maxTotal=100
redis.conn.maxIdle=10
redis.conn.minIdle=1
redis.conn.maxWaitMillis=3000
# qiniu
qiniu.ak=
qiniu.sk=
qiniu.imgcode.bucket=tbc-imgcode-test
qiniu.imgcode.domain=test.qiniu.famwifi.com
qiniu.developer.bucket=tbc-developer-test
qiniu.developer.domain=test.developer.qiniu.famwifi.com
#
debug.enabled=true
env.name=dev
# job
job.threadpool.size=4
# aliyun sms
alisms.tbc.accessKeyId=
alisms.tbc.accessKeySecret=
# aliyun dm
alidm.tbc.accessKeyId=
alidm.tbc.accessKeySecret=
# node api server
#node.api.ip=0.0.0.0
node.api.port=9019
#node.api.auth.enabled=true
node.api.ins.host=127.0.0.1:9019
node.api.token.expired=48
# open httpproxy
open.httpproxy.port=8108
# email
user.email.modify.from=admin@mail.famwifi.com
user.email.modify.link=http://test.user.famwifi.com/#/email?
# zk
zk.timer.connectString=127.0.0.1:2181
# httpproxy
node.httpproxy.domain=127.0.0.1:9109
node.httpproxy.http.port=8109
node.httpproxy.tcp.port=9109
# kafka
kafka.bootstrap.servers=localhost:9092

